/* COLORPICKER 1 EXAMPLE */
.colorPicker
{
    width:          30px;
    height:         30px;
    position: relative;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
}

.colorPicker .track {
    background:     url(text-color4.png) no-repeat 50% 50%;
    height:         150px;
    width:          150px;
    padding:        10px;
    cursor:         crosshair;
    display:        none;
    /*border:         1px solid #ccc;*/
    z-index:        9999;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}

.colorPicker .color {
    width:          25px;
    height:         25px;
    padding:        0px;
    /*border:         1px solid #ccc;*/
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    /*box-shadow:0px 0px 0px 1px black inset;*/
    cursor: pointer;
}

.color {
    padding: 0px;
    
}

.colorPicker .colorInner {
    margin: 0px;
    width:          25px;
    height:         25px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    box-shadow:0px 0px 0px 1px #ccc;
    
}

.colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

.colorPicker .dropdown li {
    height: 25px;
    cursor: pointer;
}
