<head>
  <title>Ambient Light Display</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <!--<link href='nouislider.css' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript' src='/tinycolorpicker.js'></script>
<script type='text/javascript' src='/nouislider.js'></script>
<script type='text/javascript' src='/jquery.touchSwipe.min.js'></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!--<link href='nouislider.css' rel='stylesheet' type='text/css'>-->

</body>

<template name="header">
    <div class="header">
        <h1 class="title">Light Shifting Display</h1>
    </div>
    <div style="display:none;">
        <img id="source" src="/text-color4.png"
             width="200" height="200">
    </div>
    {{#unless connected}}
        <div class="notifications">
            <div class="notification">
                <span class="icon-sync"></span>
                <div class="meta">
                    <div class="description">There seems to be a connection issue. Please reload page and check if you are connected with your home wifi.</div>
                </div>
            </div>
        </div>
    {{/unless}}
</template>

<template name="settingsList">
  <ol class="settings">
    <li class="snap">
        <span class="swipe"><img class="arrowSnap" src="/swipe-arrow.png"></span>
    </li>
    {{#each settings}}
        {{#if display}}{{> setting}}{{/if}}
    {{/each}}
  </ol>


</template>

<template name="setting">
  <li class="setting {{selected}}">
    <img class="icon" src="/{{name}}.png">
    <span class="name">{{name}}: </span>
    <span class="name">{{score}}</span>
    <span><button style="font-size: 28px;" class="dec">-</button></span>
    <span><button style="font-size: 28px;" class="inc">+</button></span>
  </li>
</template>


<template name="leaderboard">
    <ol style="margin-top: 0px;">
        <li class="genius_tab {{#if isGeniusPaused}}geniusPaused{{/if}}">
            <span style="vertical-align: middle; font-size: 18px; float: left;">Autoplay</span>
            <input type="checkbox" class="js-switch genius"/>
        </li>
        {{#each visuals}}
            {{> visual}}
        {{/each}}
    </ol>
</template>

<template name="visual">
    <li class="vActive vList {{#if isGeniusActive}}vListNameActive{{else}}vListName{{/if}} {{#if geniusActive}}geniusActive{{/if}} {{#if pausedActive}}active{{/if}}  {{#if active}}active{{/if}} visualName" style="text-align: left; border-right: #eee solid 1px;;">
        <img src="{{img}}">
        {{#if geniusActive}}<i class="fa fa-play" style="color: #8545e2;" aria-hidden="true"></i>{{/if}}
        <span class="visualNameText">{{pseudo}}</span>
        <a href="{{pathFor route='listPage'}}">
        <div style="float: right;height: 99px;background-color: #676767;width: 70px;">
                <img src="/right-arrow.png" class="arrow"/>
        </div>
        </a>
    </li>
</template>

<template name="mainPage">
    <div class="outer">
        {{> header}}
        {{> yield}}
        {{> settingsList}}
    </div>
</template>

<template name="listPage">
    <div>
        <ol style="margin-top: 0px;">
            <li class="genius_tab">
                <a class="backlink" href="{{pathFor route='leaderboard'}}"><span style="float: left;"><img class="back" src="/back2.png"></span></a>
                <a class="backlink" href="{{pathFor route='leaderboard'}}"><span style="color: #7d7d7d; vertical-align: middle; font-size: 18px; font-weight: 400; float: left;">Back</span></a>
                <span style="font-size: 24px; font-weight: 600; margin-left: -25px;">{{pseudo}}</span>
                <span class="info" style="float: right;">
                    <i style="font-size: 32px;" class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
            </li>
            <li class="colors_tab vList">
                <div class="visualNameText" style="font-weight: 100; float: left">Colors</div>
                <div id="colors">
                    {{#each colors}}
                        {{> color}}
                    {{/each}}
                </div>
            </li>
            {{#each colors}}
                <div class="colorChoserOverlay">
                    <span style="font-size: 24px; font-weight: 300; float: left; padding-left: 10px; padding-top: 10px; color: white;"><strong>{{description}}</strong> {{colorlabel}}</span>
                </div>
            {{/each}}
            {{#if checkIfNotificationExists}}
                {{> notification}}
            {{/if}}
            <li class="reset_tab vList">
                <div class="visualNameText" style="font-weight: 100; float: left; color: rgba(75, 151, 195, 0.77);">Reset to default</div>
            </li>

        </ol>
        <div class="infoOverlay">
            <span style="font-size: 24px; font-weight: 300; float: left; padding-left: 10px; padding-top: 10px;">{{pseudo}}</span>
            <img class="close" src="/close.png">
            <span style="font-size: 24px; font-weight: 300; float: left; padding-left: 10px; padding-right: 10px; padding-top: 10px; text-align: left;"><img style="height: 4em; float: left; opacity: 1.0; padding-right: 5px; filter: grayscale(0.5)" src="{{img}}">{{description}}</span>
            <ol class="colorNotation" style="padding-left: 5px; float: left; margin-bottom: 20px;">
                {{#each colors}}
                    {{#unless annotationIsEmpty annotation}}
                    <li style="border-bottom: none; padding: 0px 0px 20px 5px;">
                        <div style="margin: 0px; width: 18px; height: 18px; -webkit-border-radius: 27px; -moz-border-radius: 27px; float: left; border-radius: 27px; box-shadow: 0px 0px 0px 1px #ccc;"></div>
                        <span style="font-size: 18px; font-weight: 400; float: left; padding-left: 10px; text-align: left;">{{annotation}}</span>
                        <br>
                    </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="overlayBG" style="visibility: hidden;"></div>
    </div>
</template>

<template name="color">
    <div id="colorPicker" class="colorPicker">
        <a class="color">
            <div class="colorInner"></div>
        </a>
            <div class="pOuterContainer">
                <div class="pContainer" style="display: none;">
                    <div class="track" style="float: right">
                    </div>
                </div>
            </div>
        <ul class="dropdown">
            <li></li>
        </ul>
        <input type="hidden" class="colorInput"/></div>
</template>

<template name="notification">
    <li class="notification_tab vList">
        <div class="visualNameText" style="font-weight: 100; float: left">Notification</div>
        <input type="checkbox" checked="{{notification}}" class="js-switch notification" />
    </li>
</template>