<head>
  <title>Ambient Light Display</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <link href='nouislider.css' rel='stylesheet' type='text/css'>

</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript' src='/tinycolorpicker.js'></script>
<script type='text/javascript' src='/nouislider.js'></script>

</body>

<template name="header">
    <div class="header">
        <h1 class="title">Ambient Lamp</h1>
    </div>
    <div style="display:none;">
        <img id="source" src="text-color4.png"
             width="150" height="150">
    </div>
</template>

<template name="settingsList">
  <ol class="settings">
    <!--<li class="snap">
        <span><img class="arrow" src="/right-arrow.png"></span>
    </li>-->
    {{#each settings}}
      {{> setting}}
    {{/each}}
  </ol>


</template>

<template name="setting">
  <li class="setting {{selected}}">
    <img class="icon" src="/{{name}}.png">
    <span class="name">{{name}}: </span>
    <span class="name">{{score}}</span>
    <span><button class="dec">-</button></span>
    <span><button class="inc">+</button></span>
  </li>
</template>


<template name="leaderboard">
    <!--<div class="table_header">
        <img class="icon" src="/power-button.png">
        Visualisation
    </div>-->
    <ol>
        <li class="genius_tab">
            <span style="vertical-align: middle; font-size: 18px;">Genius-Mode ({{incompleteCount}})</span>
            <input type="checkbox" class="js-switch genius" checked />
        </li>
        {{#each visuals}}
            {{> visual}}
        {{/each}}
    </ol>
</template>

<template name="visual">
    <li style="width: 15%; text-align: center;" class="vList">
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    </li>
    <li class="vList vListName {{#if active}}active{{/if}}" style="width: 70%; text-align: left; border-right: #eee solid 1px;">
        <span class="name">{{name}}</span>
    </li>
    <a href="{{pathFor route='listPage'}}"><li class="vList" style="width: 15%; text-align: center;">
        <img src="/right-arrow.png" class="arrow"/>
    </li></a>
</template>

<template name="mainPage">
    <div class="outer">
        {{> header}}
        {{> yield}}
        {{> settingsList}}
    </div>
</template>

<template name="listPage">
    <div>
        <ol>
            <a href="{{pathFor route='leaderboard'}}">
                <li class="genius_tab">
                    <span><img class="back" src="/back.png"></span>
                    <span style="vertical-align: middle; font-size: 18px;">Back</span>
                </li>
            </a>
            <li class="colors_tab">
                <div style="font-size: 1.2em; font-weight: 600; float: left">Colors</div>
                <div id="colors">
                    {{#each colors}}
                        {{> color}}
                    {{/each}}
                </div>
            </li>
        </ol>
        <div class="overlayBG" style="visibility: hidden;"></div>
    </div>
</template>

<template name="color">
    <div id="colorPicker" class="colorPicker">
        <a class="color">
            <div class="colorInner"></div>
        </a>
            <div class="pOuterContainer">
                <div class="pContainer" style="display: none;">
                    <div class="track" style="float: right">
                    </div>
                </div>
            </div>
        <ul class="dropdown">
            <li></li>
        </ul>
        <input type="hidden" class="colorInput"/></div>
</template>